In [46]:
import pandas as pd
import numpy as np
import re

In [47]:
df0 = pd.read_csv('online_retail.csv',  encoding='latin-1')
df0.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [48]:
# me muestra que en esta columna tengo 25900 datos diferentes
print('InvoiceNo: ',df0['InvoiceNo'].nunique())
print('StockCode: ',df0['StockCode'].nunique())
print('Description: ',df0['Description'].nunique())
print('CustomerID: ',df0['CustomerID'].nunique())

InvoiceNo:  25900
StockCode:  4070
Description:  4223
CustomerID:  4372

In [49]:
# me muestra los valores unicos que tengo en la columna
print('Country: ',df0['Country'].unique())
print('Description: ',df0['Description'].unique())
print('CustomerID: ',df0['CustomerID'].unique())
print('InvoiceNo: ',df0['InvoiceNo'].unique())

Country:  ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']
Description:  ['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'lost'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
CustomerID:  [17850. 13047. 12583. ... 13298. 14569. 12713.]
InvoiceNo:  ['536365' '536366' '536367' ... '581585' '581586' '581587']

In [50]:
print(df0['InvoiceNo'].dtype)
print(df0['StockCode'].dtype)

object
object

In [51]:
# con esta funcion identifique que en la columna invoiceno hay datos con letras, por lo tanto no lo puedo cambiar a numero entero.
#df0['InvoiceNo'] = df0['InvoiceNo'].apply(int)

In [52]:

df0['InvoiceNo'].str.extract(r'([a-zA-Z]+)')

          0
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
541904  NaN
541905  NaN
541906  NaN
541907  NaN
541908  NaN

[541909 rows x 1 columns]

In [53]:
# Esta funcion identifico los datos que contienen letras
data = {'InvoiceNo': ['123', 'abc456', '789xyz', '100%']}
df0 = pd.DataFrame(data)

df0['InvoiceNo'] = df0['InvoiceNo'].str.contains('[a-zA-Z]')
print(df0)

   InvoiceNo
0      False
1       True
2       True
3      False

In [54]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   InvoiceNo  4 non-null      bool
dtypes: bool(1)
memory usage: 136.0 bytes

In [55]:
df0['InvoiceNo'] = df0['InvoiceNo'].apply(int)